html, body{
  font-family:"IBM Plex Serif", serif;
  background:rgb(5, 1, 27);
  color:gainsboro;
  height:100%;
}
.main-container{
  display: grid;
  grid-template-rows: 20% 50% 20% 10%;
  grid-template-columns:repeat(5,20%);
  grid-row-gap: 0px;
  grid-column-gap:10px;

  border: 1px solid red;
  margin:0 10px;
  height:100%;
}
.welcome-display{
  flex-direction:column;
  font-size:40px;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;

  grid-area:1/3/1/4;
  border:1px dotted blue;
}
.temp-display{
  display:flex;
  justify-content:center;
  align-items:center;

  grid-area:2/2/2/5;
  border:1px dotted green;
}
.location-display{
  display:flex;
  justify-content:center;
  align-items:center;

  grid-area:3/2/3/5;
  border:1px dotted yellow;
}
.attribution-display{
  display:flex;
  justify-content:center;
  align-items:center;

  grid-area:4/3/4/3;
  border:1px dotted magenta;
}